# QUESTION 1

You’re given a list of names. You want to:

- Remove duplicate names,
- Count how many unique names there are,
- How would you also count how many times each name appears?

In [1]:
names = [
    "Anders", "Mette", "Lars", "Anders", "Sofie", "Anders", "Mette", "Freja",
    "Lars", "Sofie", "Emil", "Isabella", "Oscar", "Nanna", "Magnus",
    "Lina", "Mikkel", "Nina", "Victor", "Clara", "Oliver", "Ellen",
    "Johannes", "Rasmus", "Frida", "Liva", "Nikolaj", "Amalie", "Sander",
    "Kasper", "Silas", "Karoline", "Johanne", "Mikkel", "Oscar", "Sofie",
    "Rasmus", "Astrid", "William", "Emilie"
]

# QUESTION 2

You’re given a dictionary of students and their grades, write logic that:

- Prints whether each student passed or failed (passing grade is 50),
- Follow-up: Count and print how many students passed and how many failed.

In [ ]:
grades = {
    "James": 78,
    "Oliver": 55,
    "Sophia": 92,
    "Benjamin": 49,
    "Emma": 85,
    "Lucas": 61,
    "Amelia": 93,
    "Mason": 48,
    "Isabella": 77,
    "Ethan": 56,
    "Charlotte": 88,
    "Daniel": 72,
    "Mia": 80,
    "Henry": 65,
    "Ella": 90,
    "Alexander": 54,
    "Grace": 67,
    "Jack": 79,
    "Chloe": 69,
    "William": 50,
    "Harper": 95,
    "Liam": 82,
    "Ava": 73,
    "Matthew": 44,
    "Scarlett": 86,
    "Oliver": 91,
    "Sophie": 76,
    "Ryan": 60,
    "Zoe": 59,
    "Samuel": 83,
    "Emily": 75,
    "Joseph": 53
}

# QUESTION 3

Write a function that takes a list of numbers and returns a dictionary with three keys:

- "even": a list of even numbers
- "odd": a list of odd numbers
- "duplicates": a list of numbers that appear more than once

- How would you change the function if you only wanted to include numbers that appear more than twice in the duplicates list?

In [2]:
numbers = [1, 2, 3, 2, 5, 6, 3, 6, 6, 3, 2, 1, 4, 5, 6, 3, 2, 1, 4, 5, 6,7]

# QUESTION 4

You are asked to help the analytics team understand trends in the booking data above.
Using these two small datasets, tell us:
- What kinds of insights or KPIs would you try to extract?
- How might you visualize this data in Power BI?
- What would you want to clean or transform before starting analysis?
- What would you attempt to do in Python vs Power BI?

In [3]:
import pandas as pd

# Table 1: Bookings
bookings = pd.DataFrame({
    "BookingID": [f"B00{i+1}" for i in range(10)],
    "CustomerID": ["C001", "C002", "C003", "C001", "C004", "C002", "C005", "C003", "C006", "C001"],
    "BookingDate": pd.to_datetime([
        "2024-12-01", "2024-12-02", "2024-12-02", "2024-12-03", "2024-12-03",
        "2024-12-04", "2024-12-04", "2024-12-05", "2024-12-06", "2024-12-07"
    ]),
    "Origin": ["Aarhus", "Copenhagen", "Aarhus", "Odense", "Aarhus",
               "Aalborg", "Aarhus", "Odense", "Aarhus", "Copenhagen"],
    "Destination": ["Oslo", "Hamburg", "Oslo", "Stockholm", "Oslo",
                    "Hamburg", "Oslo", "Oslo", "Stockholm", "Hamburg"]
})

# Table 2: Customers
customers = pd.DataFrame({
    "CustomerID": [f"C00{i+1}" for i in range(10)],
    "Name": [
        "Mikkel Sørensen", "Line Johansen", "Erik Larsen", "Sara Madsen", "Jonas Hansen",
        "Louise Nielsen", "Anna Bengtsen", "Thomas Iversen", "Nina Poulsen", "Viktor Jensen"
    ],
    "Country": [
        "Denmark", "Denmark", "Norway", "Sweden", "Denmark",
        "Norway", "Sweden", "Denmark", "Denmark", "Norway"
    ],
    "SignupDate": pd.to_datetime([
        "2023-05-01", "2023-06-15", "2023-08-22", "2024-01-10", "2023-11-05",
        "2023-12-11", "2024-02-20", "2023-10-01", "2023-09-14", "2024-03-03"
    ]),
    "Segment": [
        "Enterprise", "SMB", "SMB", "Enterprise", "SMB",
        "Enterprise", "SMB", "SMB", "Enterprise", "SMB"
    ]
})

# Display both DataFrames
print("Bookings Table:")
display(bookings)

print("Customers Table:")
display(customers)

Bookings Table:

  BookingID CustomerID BookingDate      Origin Destination
0      B001       C001  2024-12-01      Aarhus        Oslo
1      B002       C002  2024-12-02  Copenhagen     Hamburg
2      B003       C003  2024-12-02      Aarhus        Oslo
3      B004       C001  2024-12-03      Odense   Stockholm
4      B005       C004  2024-12-03      Aarhus        Oslo
5      B006       C002  2024-12-04     Aalborg     Hamburg
6      B007       C005  2024-12-04      Aarhus        Oslo
7      B008       C003  2024-12-05      Odense        Oslo
8      B009       C006  2024-12-06      Aarhus   Stockholm
9     B0010       C001  2024-12-07  Copenhagen     Hamburg

Customers Table:

  CustomerID             Name  Country SignupDate     Segment
0       C001  Mikkel Sørensen  Denmark 2023-05-01  Enterprise
1       C002    Line Johansen  Denmark 2023-06-15         SMB
2       C003      Erik Larsen   Norway 2023-08-22         SMB
3       C004      Sara Madsen   Sweden 2024-01-10  Enterprise
4       C005     Jonas Hansen  Denmark 2023-11-05         SMB
5       C006   Louise Nielsen   Norway 2023-12-11  Enterprise
6       C007    Anna Bengtsen   Sweden 2024-02-20         SMB
7       C008   Thomas Iversen  Denmark 2023-10-01         SMB
8       C009     Nina Poulsen  Denmark 2023-09-14  Enterprise
9      C0010    Viktor Jensen   Norway 2024-03-03         SMB